<table class="my-margin-lr">
    <tr>
        <td class="my-td-w">
            Колорий на день
        </td>
        <td>
            <input type="number" [(ngModel)]="params.call" class="form-control my-inline" />
            <!-- - <input type="number" [(ngModel)]="params.max_call" class="form-control my-inline"/> -->
        </td>
    </tr>
    <tr class="my-sep">
    </tr>
    <tr>
        <td class="my-td-w">
            Завтрак (%)
        </td>
        <td>
            <input class="form-control my-inline" type="number" [(ngModel)]="params.portion1" /> <span style="padding: 0px 0px 0px 10px;">({{params.portion1 * params.call/100}} г)</span>
        </td>
    </tr>
    <tr>
        <td>Обед (%)</td>
        <td>
            <input class="form-control my-inline" type="number" [(ngModel)]="params.portion2" /> <span style="padding: 0px 0px 0px 10px;">({{params.portion2 * params.call/100}} г)</span>
        </td>
    </tr>
    <tr>
        <td class="my-td-w">
            Ужин (%)
        </td>
        <td>
            <input class="form-control my-inline" type="number" [(ngModel)]="params.portion3" /> <span style="padding: 0px 0px 0px 10px;">({{params.portion3 * params.call/100}} г)</span>
        </td>
    </tr>
    <tr>
        <td>Перекус (%)</td>
        <td>
            <input class="form-control my-inline" type="number" [(ngModel)]="params.portion4" /> <span style="padding: 0px 0px 0px 10px;">({{params.portion4 * params.call/100}} г)</span>
        </td>
    </tr>

    <tr>
        <td><b>Общее</b></td>
        <td><b>{{params.portion1 + params.portion2 + params.portion3 + params.portion4}}%</b></td>
    </tr>

    <tr class="my-sep"></tr>

    <tr>
        <td>БЖУ</td>
        <td>
            <input class="form-control my-inline" type="text" [(ngModel)]="params.portion_bzu" />  <span style="padding: 0px 0px 0px 10px;">{{getProportions()}}</span>
        </td>
    </tr>
</table>