<div class="row my-pad-top">

    <!-- <a routerLink="/portions" routerLinkActive="active" ariaCurrentWhenActive="page">Перейти на раскладку</a> -->

    <div class="row">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a routerLink="/settings/dishes" class="nav-link" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Блюда</a>
            </li>
            <li class="nav-item">
                <a routerLink="/settings/products" class="nav-link" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Продукты</a>
            </li>
            <li class="nav-item">
                <a routerLink="/settings/main" class="nav-link" routerLinkActive="active"
                    ariaCurrentWhenActive="page">Основные настройки</a>
            </li>
        </ul>

        <router-outlet></router-outlet>

    </div>

    

    <div class="my-sep"></div>


    <button class="btn btn-primary my-inline" (click)="save()">Save</button>
    <span class="my-inline" style="text-align: center;padding: 5px;"> {{textSaved}}</span>




    <button class="btn btn-primary my-inline" (click)="clear()">Clear</button>
    <span class="my-inline" style="text-align: center;padding: 5px;">{{textCleared}}</span>

</div>