<table class="table">
    <colgroup>
        <col style="width: auto;"  />
        <col style="width: 100px;"  />
        <col style="width: 150px;"  />
        <col style="width: 100px;"  />
        <col style="width: 100px;"  />
        <col style="width: 100px;"  />
        <col style="width: 100px;"  />
        <col style="width: 100px;"  />
        <col style="width: 100px;"  />
        <col style="width: 100px;"  />
    </colgroup>
    <thead>
        <tr>
            <th>Продукты</th>
            <th>Кол-во, гр/чел</th>
            <th>Калорийность, ккал/100гр</th>
            <th>Калорийность порции</th>
            <th>белки (%)</th>
            <th>жиры (%)</th>
            <th>Углеводы (%)</th>
            <th>белки (г)</th>
            <th>жиры (г)</th>
            <th>углеводы (г)</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let p of portion?.portionList" class="my-tr">
            <td>{{p.product?.name}}</td>
            <td>{{p.product?.onePortionG}}</td>
            <td>{{p.product?.calories100g}}</td>

            <td>
                <span *ngIf="p.product">
                    {{p.product.calories100g * p.product.onePortionG / 100}}
                </span>
            </td>

            <td>{{p.product?.proteins}}</td>
            <td>{{p.product?.fats}}</td>
            <td>{{p.product?.carbohydrates}}</td>

            <td><span *ngIf="p.product">{{p.product.proteins * p.product.onePortionG / 100 }}</span></td>
            <td><span *ngIf="p.product">{{p.product.fats * p.product.onePortionG / 100}}</span></td>
            <td><span *ngIf="p.product">{{p.product.carbohydrates * p.product.onePortionG / 100}}</span></td>

        </tr>
        <tr class="my-tr">
            <td></td>
            <td><b>{{portion?.portionGroup?.portionGramm}}</b></td>
            <td></td>
            <td><b>{{portion?.portionGroup?.calories}}</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>{{portion?.portionGroup?.proteins}}</b></td>
            <td><b>{{portion?.portionGroup?.fats}}</b></td>
            <td><b>{{portion?.portionGroup?.carbohydrates}}</b></td>
        </tr>
        <tr class="my-tr">
            <td></td>
            <td></td>
            <td></td>
            <td><b>{{portion?.portionGroup?.caloriesPorcent}} %</b></td>
            <td></td>
            <td></td>
            <td></td>
            <td><b>{{portion?.portionGroup?.proteins_p}}</b></td>
            <td><b>{{portion?.portionGroup?.fats_p}}</b></td>
            <td><b>{{portion?.portionGroup?.carbohydrates_p}}</b></td>
        </tr>
    </tbody>

</table>