<div class="row my-pad-top">
    <div class="my-sep"></div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a routerLink="/portions/list" class="nav-link" routerLinkActive="active"
                ariaCurrentWhenActive="page">Раскладка</a>
        </li>
        <li class="nav-item">
            <a routerLink="/portions/products" class="nav-link" routerLinkActive="active"
                ariaCurrentWhenActive="page">Продукты</a>
        </li>
    </ul>
    <router-outlet></router-outlet>
</div>